<tr>
  <td class="w-25">氏名</td>
  <td class="w-25"><%= f.text_field :last_name, class: "form-control" %></td>
  <td class="w-25"><%= f.text_field :first_name, class: "form-control ml-4" %></td>
  <td class="w-25"></td>
</tr>
<tr>
  <td>フリガナ</td>
  <td><%= f.text_field :last_name_furigana, class: "form-control" %></td>
  <td><%= f.text_field :first_name_furigana, class: "form-control ml-4" %></td>
</tr>
<tr>
  <td>電話番号</td>
  <td><%= f.telephone_field :telephone_number,class: "form-control" %></td>
</tr>
<tr>
  <td>メールアドレス</td>
  <td><%= f.email_field :email, autocomplete: "email", class: "form-control" %></td>
</tr>