<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h5>マイページ</h5>
      <div style="color: green;"><%= flash[:success] %></div>

      <div class="row mt-5">
        <div class="col-md-3 d-flex justify-content-between align-items-center p-0">
          <h5 class="mb-0"><b>登録情報</b></h5>
          <% unless @customer.email == "guest@example.com" %>
            <%= link_to edit_customers_path do %>
              <span class="btn btn-sm btn-success d-inline px-3" style="font-weight: bold;">編集する</span>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row mt-3">
        <table class="table table-bordered border-dark">
          <tr>
            <td class="table-active w-25">氏名</td>
            <td><%= @customer.full_name %></td>
          </tr>
          <tr>
            <td class="table-active">カナ</td>
            <td><%= @customer.full_name_furigana %></td>
          </tr>
          <tr>
            <td class="table-active">電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td class="table-active">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </table>
      </div>
    </div>

     <div class="col-12 mt-3 text-center mx-auto">
        <h3>予約一覧</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">予約日</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @customer_reservations.each do |customer_reservation| %>
              <td>
                <%= customer_reservation.day %>
                <%= customer_reservation.time %>
              </td>
              <td>
                <%= link_to '削除', reservation_path(customer_reservation.id), method: :delete, data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やめる", title: "ご確認ください" } %>
              </td>
            </tr>
            <% end %>
            <% if @customer_reservations.blank? %>
              <tr>
                <td>予約はありません。</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-12 mt-3 text-center mx-auto">
        <h3>来店履歴</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">予約日</th>
            </tr>
          </thead>
          <tbody>
            <% @visit_historys.each do |visit_history| %>
              <tr>
                <td>
                  <%= visit_history.day %>
                  <%= visit_history.time %>
                </td>
              </tr>
            <% end %>
            <% if @visit_historys.blank? %>
              <tr>
                <td>来院履歴はありません。</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
