<div class="container">
  <div class="row">
    <div class="col">
      <h2>お知らせ一覧</h2>
      <div>
        <% @tag_list.each do |list| %>
          <%= list.name %>
          <%="(#{list.notices.count})" %>
        <% end %>
      </div>
      <div>
        <% @notices.each do |notice| %>
          <i class="fas fa-tag"><%= notice.tags.map(&:name).join(',') %></i>
        <% end %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>期限</th>
          </tr>
        </thead>
        <tbody>
          <% @notices.each do |notice| %>
            <tr>
              <td><%= link_to notice.title, notice_path(notice.id) %></td>
              <td><%= notice.deadline %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
