<div class="container">
  <div class="row">
    <div>
      <% @notice_tags.each do |tag| %>
        <%=tag.name%><%="(#{tag.notices.count})" %>
      <% end %>
    </div>
    <div class="col">
      <h2>お知らせ詳細</h2>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <tbody>
        <tr>
          <td>タイトル</td>
          <td><%= @notice.title %></td>
        </tr>

        <tr>
          <td>期限</td>
          <td><%= @notice.deadline %></td>
        </tr>

        <tr>
          <td>説明</td>
          <td><%= @notice.explanation %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= @notice.title %>
            </p>
          </header>
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
              </div>
              <div class="average-score-display ml-3 pt-2">
                点（<%= @notice.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <p class="is-size-4 mb-3">レビューを書く</p>

          <div class="rating-box mt-3">
            <%= form_with model: @review, url:notice_reviews_path(@notice.id), local: true do |f| %>
              <div class="main-rating">
                <div class="ratings mb-3">
                  <span class="fa fa-star-o" id="star"></span>
                  <span class="fa fa-star-o" id="star"></span>
                  <span class="fa fa-star-o" id="star"></span>
                  <span class="fa fa-star-o" id="star"></span>
                  <span class="fa fa-star-o" id="star"></span>
                </div>
                <div class="ml-3 rating-value-display"><span id="rating-value-display">0</span>/5</div>
              </div>
              <%= f.hidden_field :notice, value: notice %>
              <%= f.hidden_field :score, id: "rating-value" %>
              <%= f.text_field :content, class: "textarea" %>
              <%= f.submit "保存", class: "button mt-3" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</section>
