<div class="container">
  <div class="row">
    <div class="col">
      <h2>お知らせ一覧</h2>
      <div>
        <% @tag_list.each do |list| %>
          <i class="fa-sharp fa-solid fa-tag"></i>
          <%= link_to list.name, search_tag_admin_notices_path(tag_id: list.id) %>
          <%="(#{list.notices.count})" %>
        <% end %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>期限</th>
          </tr>
        </thead>
        <tbody>
          <% @notices.each do |notice| %>
            <tr>
              <td><%= link_to notice.title, admin_notice_path(notice.id) %></td>
              <td><%= notice.deadline %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to "お知らせ新規追加", new_admin_notice_path, class:"btn btn-success" %>
</div>
