<div class="container">
  <div class="row">
    <div>
      <% @notice_tags.each do |tag| %>
        <%=tag.name%><%="(#{tag.notices.count})" %>
      <% end %>
    </div>
    <div class="col">
      <h2>お知らせ詳細</h2>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <tbody>
        <tr>
          <td>タイトル</td>
          <td><%= @notice.title %></td>
        </tr>

        <tr>
          <td>期限</td>
          <td><%= @notice.deadline %></td>
        </tr>

        <tr>
          <td>説明</td>
          <td><%= @notice.explanation %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= @notice.title %>
            </p>
          </header>
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
              </div>
              <div class="average-score-display ml-3 pt-2">
                点（<%= @notice.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>

        <table class="table is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th>点数</th>
              <th>内容</th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td><%= review.score %></td>
                <td><%= review.content %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
