<!DOCTYPE html>
<html>
  <head>
    <title>Haircut</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/976f20cd40.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">QBR</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "顧客一覧", admin_root_path, class: 'btn btn-default' %>
              </li>
              <li class="nav-item">
                <%= link_to "メニュー一覧", admin_menus_path, class: 'btn btn-default' %>
              </li>
              <li class="nav-item">
                <%= link_to "お知らせ", admin_notices_path, class: 'btn btn-default' %>
              </li>
              <li class="nav-item">
                <%= link_to "予約管理", admin_reservations_path, class: 'btn btn-default' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-default' %>
              </li>

              <% elsif customer_signed_in? %>
              <li class="nav-item d-flex align-items-center mr-3">
                ようこそ、<%= link_to mypage_customers_path do %>
                <span>
                  <%= current_customer.last_name %><%= current_customer.first_name %>
                </span>
                <% end %>
                  さん！
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", mypage_customers_path, class: 'btn btn-default' %>
              </li>
              <li class="nav-item">
                <%= link_to "メニュー一覧", menus_path, class: 'btn btn-default' %>
              </li>
              <li class="nav-item">
                <%= link_to "予約リスト", reservations_path, class: 'btn btn-default' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'btn btn-default' %>
              </li>

            <% else %>
              <li class="nav-item">
                <%= link_to "TOP", root_path, class: 'btn btn-default' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-default' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-default' %>
              </li>
              <li class="nav-item">
                <%= link_to "ゲストログイン(閲覧用)", customers_guest_sign_in_path, method: :post, class: 'btn btn-default' %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>

    </footer>
  </body>
</html>
